from logging import DEBUG, INFO, ERROR, WARNING


class OpnSense:
    HOST = ''
    KEY = ''
    SECRET = ''
    # WANS - wan_name, priority (lower means higher priority), id (in form of IP address i.e. 1.0.0.0)
    WANS: dict[str, tuple[int, str]] = {}


class Gandi:
    API_KEY = ''
    DOMAIN = ''


class Logging:
    LEVEL = DEBUG
