from logging import DEBUG, INFO, ERROR, WARNING


class OpnSense:
    HOST = ''
    INTERFACE_CONFING_URL = 'http://{host}/api/diagnostics/interface/getInterfaceConfig'
    ACTIVE_WAN_ALIAS = 'Active_WAN'
    ACTIVE_WAN_ID_ALIAS = 'Active_WAN_Id'
    GET_ALIAS_URL = 'http://{host}/api/firewall/alias_util/list/{alias}'
    ADD_ALIAS_URL = 'http://{host}/api/firewall/alias_util/add/{alias}'
    DELETE_ALIAS_URL = 'http://{host}/api/firewall/alias_util/delete/{alias}'
    KEY = ''
    SECRET = ''
    # WANS - wan_name, priority (lower means higher priority), id (in form of IP address i.e. 1.0.0.0)
    WANS: dict[str, tuple[int, str]] = {}


class Gandi:
    API_KEY = ''
    DOMAIN = ''
    MAIN_RECORD_URL = f'https://api.gandi.net/v5/livedns/domains/{DOMAIN}/records/%40/A'


class Logging:
    LEVEL = DEBUG
